<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
        <style>
            body{font-family: "Iceland", cursive}
            </style>
    </head>
<body>
    <h1> Edit Bug</h1>
    <form form-group action="/ws22/<%=ws22.id%>?_method=PUT" method="POST">
        <input type="text" class="form-control" name="nm" value="<%=ws22.nm%>" placeholder="task"/><br/>
        <input type="date" class="form-control" name="dt" value="<%=ws22.dt%>" placeholder="date"/><br/>
        <input type="text" class="form-control" name="rc" value="<%=ws22.rc%>" placeholder="raw code"/><br/>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" name="compl"
            <% if(ws22.compl === true ){ %>
                checked
            <% } %>    
            >
            <label class="form-check-label">
                 Item Completed
              </label>
        </div>
        <br/>
        <input class="btn btn-success" type="submit" value="Submit Changes" />
    
        
</body>
</html>

