<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
        <link rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
        <style>
            body{font-family: "Iceland", cursive}
            </style>
    </head>
<body>
    <h1>UB Item: <%=ws2.name %></h1>
    <p>Item Name: <%=ws2.name %></p>
    <p>Priority: <%=ws2.priority %></p>
    <p>Task: <%=ws2.description%></p>
    <p>Raw Code: <%=ws2.rcode%></p>
    <% if (ws2.completed === true) { %>
        <p>Item has been completed </p>
    <% } else { %>
        <p>Estimated Completion Date  <%=ws2.date%></p>
    <% } %>
    <button><a href="/ws2">Return to Update Board</a></button>
</body>
</html>